# Definir a prioridade dos arquivos principais (index.html em 1º lugar)
DirectoryIndex index.html default.php index.php

# Desativar Cache para HTML e JS (Forçar atualização em cada acesso)
<FilesMatch "\.(html|js|css)$">
    FileETag None
    <ifModule mod_headers.c>
        Header unset ETag
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
    </ifModule>
</FilesMatch>

# LiteSpeed Cache - Desligar para desenvolvimento/ajustes rápidos
<IfModule mod_headers.c>
    Header set X-LiteSpeed-Cache-Control no-cache
</IfModule>
